<!DOCTYPE html>
<html lang="en">
<head>
    <link href="font/iconfont.css" rel="stylesheet">
    <link href="style/reset.css" rel="stylesheet">
    <link href="style/customPublic.css" rel="stylesheet">
    <link href="style/component.css" rel="stylesheet">
    <link href="style/service.css" rel="stylesheet">
</head>
<body>
    <!-- 公共顶部 -->
    <div class="ci-top-warp">
        <div class="ci-top-con">
            <span class="marginR16"><i class="icon iconfont iconphone"></i>12321112232</span>
            <span><i class="icon iconfont iconzhifeiji"></i>service@biocar.com</span>
            <span class="floatR"><i class="icon iconfont iconinfo-circle-fill"></i>FAQ</span>
            <span class="floatR marginR24"><i class="icon iconfont iconcheck"></i><a class="marginR4" href="#">Sign In</a>  |  <a href="#" class="marginL4">Register</a></span>
        </div>
    </div>
    <!-- 公共顶部 -->

    <!-- 公共头部搜索 -->
    <div class="ci-menu-warp">
        <a href="#" class="ci-logo"></a>
        <ul class="ci-menu-list clearfix">
            <li class="act">
                <div class="ci-drop-down">
                    <a href="#">Home</a>
                    <dl class="ci-drop-select"><dd><a href="#">product name</a></dd><dd><a href="#">product name</a></dd><dd><a href="#">product name</a></dd></dl>
                </div>
            </li>
            <li>                
                <div class="ci-drop-down">
                    <a href="#">Product</a>
                    <dl class="ci-drop-select"><dd><a href="#">product name</a></dd><dd><a href="#">product name</a></dd><dd><a href="#">product name</a></dd></dl>
                </div>
            </li>
            <li>
                <div class="ci-drop-down">
                    <a href="#">Service</a>
                    <dl class="ci-drop-select"><dd><a href="#">product name</a></dd><dd><a href="#">product name</a></dd><dd><a href="#">product name</a></dd></dl>
                </div>
            </li>
            <li>
                <div class="ci-drop-down">
                    <a href="#">Contact us</a>
                    <dl class="ci-drop-select"><dd><a href="#">product name</a></dd><dd><a href="#">product name</a></dd><dd><a href="#">product name</a></dd></dl>
                </div>
            </li>
        </ul>
        <a href="#" class="ci-menu-btn">Post Buying Requst</a>
        <div class="ci-menu-search">
            <input type="text">
            <a href="#" class="ci-menu-search-btn"><i class="icon iconfont iconsearch"></i></a>
            <ul class="ci-menu-search-list"></ul>
        </div>
    </div>
    <!-- 公共头部搜索 -->

    <!-- 服务banner -->
    <div class="ci-service-banner"></div>
    <!-- 服务banner -->
    
    <!-- 服务主体部分 -->
    <div class="ci-service-wrap clearfix">
        <div class="ci-service-con">
            <p class="ci-service-title">PunchOut</p>
            <div class="ci-service-des">
                <p>The PunchOut solution of Chemicalin provides an integration layer that enables you to initiate a transaction within your ERP environment and make orders easily and quickly.</p>
                <h1>1.Access real-time marketing data and information</h1>
                <p>Integrating with the Chemicalin sourcing platform offers you instant access to the availability and best prices of over 400,000 products in the marketing. You can also be able to avoid pricey procurement decisions that cost more time and budget than needed by knowing the latest products available to purchase in the market.</p>
                <h1>2.More effective cost control and expenses tracking</h1>
                <p>With an integrated ordering system, order information is collected online so that order accuracy is ensured. This removes difficulty in managing and tracking scattered orders, reducing the possibility of errors.</p>
                <h1>3.Improve the productivity automatically</h1>
                <p>PunchOut solutions of Chemicalin allows you to streamline the whole procurement process through automated ordering confirmation, error messaging and status updates. Shipment acknowledgement is also immediately and automatically forwarded to you. You can finally focus on the work that matters most.</p>
            </div>
        </div>
        <div class="ci-service-form">
            <div class="ci-service-form-title">Tell us about your message</div>
            <div class="ci-service-form-con" id="service">
                <form @submit.prevent="submit">
                    <input type="text" class="input-shot" v-model="requestData.firstName" placeholder="first name">
                    <input type="text" class="input-shot marginL8" v-model="requestData.lastName" placeholder="last name">
                    <input type="text" v-model="requestData.email" placeholder="Your Email">
                    <input type="text" v-model="requestData.company" placeholder="Your Company">
                    <textarea v-model="requestData.message" placeholder="Your Message"></textarea>
                    <button>Submit</button>
                </form>
            </div>
        </div>
        <div class="ci-service-info">
            <div class="ci-service-info-title">Stuchem Co,.Ltd</div>
            <div class="ci-service-info-con">
                <div class="ci-service-info-item">
                    <i class="icon iconfont iconet-card"></i>Certified Store<span class="icon iconfont iconVIP"></span>
                </div>
                <div class="ci-service-info-item">
                    <i class="icon iconfont iconhome"></i>Custom-Made
                </div>
                <div class="ci-service-info-item">
                    <i class="icon iconfont iconlocation2"></i>China JiangSu SuZhou
                </div>
                <div class="ci-service-info-item">
                    <i class="icon iconfont icone-mail"></i>sevice@Struchem.com
                </div>
                <div class="ci-service-info-item">
                    <i class="icon iconfont iconaui-icon-mobile"></i>13222423370
                </div>
                <div class="ci-service-info-item">
                    <i class="icon iconfont iconphone-"></i>0512-63009836
                </div>
            </div>
        </div>
    </div>
    <!-- 服务主体部分 -->

    <!-- 公共页脚 -->
    <div class="ci-footer-wrap clearfix">
        <div class="ci-footer-list">
            <dl>
                <dt>Products</dt>
                <dd><a href="#">API</a></dd>
                <dd><a href="#">OLED</a></dd>
                <dd><a href="#">Solvent</a></dd>
                <dd><a href="#">Catalyst</a></dd>
                <dd><a href="#">Biomolecular</a></dd>
                <dd><a href="#">Chiral compound</a></dd>
                <dd><a href="#">Inorganic salt</a></dd>
                <dd><a href="#">Reagent</a></dd>
                <dd><a href="#">Building block</a></dd>
            </dl>
            <dl>
                <dt><a href="#">Services</a></dt>
                <dd><a href="#">Custom synthesis</a></dd>
                <dd><a href="#">Scale-up</a></dd>
                <dd><a href="#">PunchOnt</a></dd>
                <dd><a href="#">Procurement Out-</a></dd>
                <dd><a href="#">sourcing</a></dd>
            </dl>
        </div>
        <div class="ci-footer-show">
            <h1>Quick Link</h1>
            <div class="ci-footer-content clearfix">
                <a href="#" class="ci-footer-link"><img src="imgs/bottom1.jpg"></a>
                <a href="#" class="ci-footer-link"><img src="imgs/bottom2.jpg"></a>
                <a href="#" class="ci-footer-link"><img src="imgs/bottom3.jpg"></a>
                <a href="#" class="ci-footer-link"><img src="imgs/bottom4.jpg"></a>
            </div>
        </div>
    </div>
    <!-- 公共页脚 -->

    <!-- 底部信息 -->
    <div class="ci-bottom-wrap">
        <span>Copyright © 2017. </span>
        <span class="marginL70">All Rights Reserved. Reproduction of any materials from the site is strictly forbidden without permission.</span>
        <br>
        <span>Products are sold exclusively through</span><span class="marginL70">Site Use Terms|Privacy</span>
    </div>
    <!-- 底部信息 -->

    <script type="text/javascript" src="font/iconfont.js"></script>
    <script type="text/javascript" src="script/vue.js"></script>
    <script type="text/javascript" src="script/jquery.min.js"></script>
    <script type="text/javascript" src="script/common.js"></script>
    <script type="text/javascript" src="script/service.js"></script>
</body>
</html>