/* 公共顶部样式 */
.ci-top-warp{
    min-width: 1440px;
    background-color: #122a88;
}
.ci-top-warp .ci-top-con{
    width: 1440px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    color: #fff;
}
.ci-top-con > span{
    height: 30px;
}
.ci-top-con i{
    display: inline-block;
    margin-right: 2px;
    font-size: 14px;
}
.ci-top-con i.iconzhifeiji{
    vertical-align: -1px;
}
.ci-top-con i.iconcheck,.ci-top-con i.iconinfo-circle-fill{
    margin-right: 6px;
    font-size: 12px;
}
.ci-top-con a{
    color: #fff;
}
/* 公共顶部样式 */

/* 公共头部菜单 */
.ci-menu-warp{
    width: 1360px;
    height: 80px;
    margin: 0 auto;
    padding: 0 20px;
}
.ci-menu-warp .ci-logo{
    display: inline-block;
    width: 180px;
    height: 29px;
    margin-top: 25px;
    margin-right: 38px;
    background: url(../imgs/logo.png) no-repeat;
    float: left;
}
.ci-menu-list{
    float: left;
}
.ci-menu-list li{
    height: 80px;
    line-height: 80px;
    margin-left: 60px;
    float: left;
}
.ci-drop-down{
    position: relative;
    z-index: 1000;
}
.ci-drop-down:hover > a{
    border-bottom: solid 1px #333;
    font-weight: bolder;
    color: #333;
}
.ci-drop-select{
    display: none;
    position: absolute;
    padding: 10px 24px;
    left: 50%;
    margin-left: -60px;
    background-color: #fff;
    border: solid 1px #ccc;
}
.ci-drop-select::before{
    content: ' ';
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 13px;
    margin-left: -6px;
    top: -7px;
    left: 50%;
    background: url(../imgs/menuIcon.png) no-repeat;
}
.ci-drop-down:hover .ci-drop-select{
    display: block;
}
.ci-drop-select dd{
    line-height: 2;
}
.ci-drop-select a{
    white-space:nowrap
}
.ci-drop-select dd.act a,.ci-drop-select dd a:hover{
    color: #7E308E;
}
.ci-menu-search{
    width: 400px;
    height: 42px;
    margin-top: 18px;
    border: solid 1px #7a7879;
    float: right;
}
.ci-menu-search input{
    width: 310px;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    border: none;
}
.ci-menu-search .ci-menu-search-btn{
    display: inline-block;
    width: 69px;
    height: 24px;
    line-height: 24px;
    margin-top: 9px;
    border-left: solid 1px #DAD5D1;
    text-align: center;
    float: right;
}
.ci-menu-search .ci-menu-search-btn i{
    font-size: 26px;
    color: #7a7879;
}
.ci-menu-warp .ci-menu-btn{
    display: inline-block;
    width: 150px;
    height: 44px;
    line-height: 44px;
    margin-top: 18px;
    margin-left: 15px;
    background-color: #7e308e;
    color: #fff;
    float: right;
    text-align: center;
}
/* 公共头部菜单 */

/* 公共页脚 */
.ci-footer-wrap{
    width: 1200px;
    margin: 0 auto;
}
.ci-footer-wrap .ci-footer-list{
    width: 460px;
    padding: 30px 60px 30px 80px;
    float: left;
}
.ci-footer-wrap .ci-footer-list dl{
    width: 210px;
    line-height: 1.5;
    padding-left: 20px;
    font-size: 20px;
    float: left;
}
.ci-footer-wrap .ci-footer-list dl dt{
    margin-bottom: 10px;
    font-weight: bolder;
}
.ci-footer-wrap .ci-footer-show{
    width: 600px;
    padding: 30px 0;
    float: right;
}
.ci-footer-wrap .ci-footer-show h1{
    font-size: 20px;
    font-weight: bolder;
}
.ci-footer-wrap .ci-footer-show .ci-footer-content{
    margin-top: 26px;
}
/* 公共页脚 */

/* 底部样式 */
.ci-bottom-wrap {
    height: 60px;
    padding: 6px 0;
    background-color: #122A88;
    text-align: center;
    color: #fff;
}
.ci-bottom-wrap span{
    display: inline-block;
    margin-top: 10px;
}
/* 底部样式 */