/**基础样式**/
body {
    min-width: 1440px;
    font-size:12px;
    line-height:1.2;
    padding:0;
    margin:0;
    font-family:'roboto','Microsoft YaHei','simsun';
    color: #333;
}

a{
    color: #333;
    text-decoration: none;
}
a:hover{
    color: #3c60ec;
}

input,select,textarea,table {
    font-size:14px;
    font-family:'Microsoft YaHei','simsun';
}

table {
    margin:0 auto;
}

.floatL {
    float:left;
}

.floatR {
    float:right;
}
.clear {
    clear:both;
    height:0;
    line-height:0;
    font-size:0;
    overflow:hidden;
}
.clearBorder{
    border: none!important;
}

.clearFloat {
    clear:both;
    overflow:hidden;
}
/* 用于浮动元素的父元素 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
/*兼容IE6、7*/
.clearfix {
    *zoom:1;
}

.inlineBlock{
    display: inline-block;
}
.block{
    display: block;
}
.bold{
    font-weight: bolder;
}
.textC{
    text-align: center;
}
/* 偏移量margin */
.marginT20{
    margin-top: 20px;
}
.marginL4{
    margin-left: 4px;
}
.marginL8{
    margin-left: 8px;
}
.marginL70{
    margin-left: 70px;
}
.marginR4{
    margin-right: 4px;
}
.marginR16{
    margin-right: 16px;
}
.marginR24{
    margin-right: 24px;
}

/* 字号font-size */
.fontSize10{
    font-size: 10px;
}
.fontSize20{
    font-size: 20px;
}

/* 文字颜色 */
.textBlack8{
    color: #808080;
}

/**限制显示省略号**/
.ellipsis{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break:break-all;
}