.ci-faq-banner{
    height: 165px;
    background: url(../imgs/faq/banner.png) 50% no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.ci-faq-wrap{
    width: 1198px;
    margin: 4px auto;
    border: solid 1px #EFEFEF;
}
.ci-faq-title{
    padding: 12px 24px;
    font-size: 24px;
    font-weight: bolder;
    color: #122A88;
}
.ci-faq-list{
    padding: 16px;
}
.ci-faq-list dl{
    max-height: 21px;
    margin-top: 30px;
    overflow: hidden;
    transition: all .3s ease-in;
}
.ci-faq-list dl:first-child{
    margin-top: 10px;
}
.ci-faq-list dl.act{
    max-height: 500px;
}
.ci-faq-list dt{
    font-size: 18px;
}
.ci-faq-list dt i{
    margin-right: 12px;
}
.ci-faq-list dd{
    line-height: 1.5;
    margin: 20px 30px;
}