.ci-service-banner{
    height: 165px;
    background: url(../imgs/service/banner.png) 50% no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.ci-service-wrap{
    width: 1198px;
    margin: 4px auto;
    padding-bottom: 120px;
    border: solid 1px #EFEFEF;
}
.ci-service-con{
    width: 700px;
    padding: 30px 20px;
    float: left;
}
.ci-service-con .ci-service-title{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bolder;
    color: #122A88;
}
.ci-service-con .ci-service-des{
    line-height: 1.5;
    font-size: 16px;
}
.ci-service-con .ci-service-des p{
    margin-bottom: 20px;
}

.ci-service-form,.ci-service-info{
    border: solid 1px #E4E4E4;
    float: right;
}
.ci-service-form{
    width: 384px;
    height: 394px;
    margin-top: 8px;
    margin-right: 8px;
    background-color: #F9F9F9;
}
.ci-service-info{
    width: 300px;
    height: 252px;
    margin-top: 20px;
    margin-right: 92px;
}
.ci-service-form .ci-service-form-title,.ci-service-info .ci-service-info-title{
    height: 55px;
    line-height: 55px;
    padding: 0 16px;
    background-color: #7E308E;
    font-size: 14px;
    color: #fff;
}
.ci-service-form .ci-service-form-con{
    height: 235px;
    height: 197px;
    padding: 23px;
}
.ci-service-form-con input{
    width: 308px;
    height: 38px;
    line-height: 38px;
    margin-bottom: 10px;
    background-color: #fff;
    border: solid 1px #E4E4E4;
    border-radius: 4px;
}
.ci-service-form-con input.input-shot{
    width: 138px;
}
.ci-service-form-con textarea{
    width: 308px;
    height: 65px;
    padding: 10px;
    background-color: #fff;
    border: solid 1px #ccc;
}
.ci-service-form-con button{
    display: block;
    width: 124px;
    height: 32px;
    margin-top: 20px;
    background-color: #7E308E;
    border: none;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.ci-service-info-con .ci-service-info-item{
    margin-top: 8px;
    margin-left: 20px;
}
.ci-service-info-con .ci-service-info-item:first-child{
    margin-top: 16px;
}
.ci-service-info-con .ci-service-info-item i{
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    color: #e1e1e1;
    vertical-align: -2px;
}
.ci-service-info-con  span.iconVIP{
    margin-left: 2px;
    font-size: 18px;
    color: #FFA900;
    vertical-align: -2px;
}